wsdl/EventService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions targetNamespace="http://EventService/" name="EventService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://EventService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://EventService/" schemaLocation="EventService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="get">
    <part name="parameters" element="tns:get"/>
  </message>
  <message name="getResponse">
    <part name="parameters" element="tns:getResponse"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="create">
    <part name="parameters" element="tns:create"/>
  </message>
  <message name="createResponse">
    <part name="parameters" element="tns:createResponse"/>
  </message>
  <message name="edit">
    <part name="parameters" element="tns:edit"/>
  </message>
  <message name="editResponse">
    <part name="parameters" element="tns:editResponse"/>
  </message>
  <message name="getDetail">
    <part name="parameters" element="tns:getDetail"/>
  </message>
  <message name="getDetailResponse">
    <part name="parameters" element="tns:getDetailResponse"/>
  </message>
  <portType name="EventService">
    <operation name="get">
      <input wsam:Action="http://EventService/EventService/getRequest" message="tns:get"/>
      <output wsam:Action="http://EventService/EventService/getResponse" message="tns:getResponse"/>
    </operation>
    <operation name="delete">
      <input wsam:Action="http://EventService/EventService/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://EventService/EventService/deleteResponse" message="tns:deleteResponse"/>
    </operation>
    <operation name="create">
      <input wsam:Action="http://EventService/EventService/createRequest" message="tns:create"/>
      <output wsam:Action="http://EventService/EventService/createResponse" message="tns:createResponse"/>
    </operation>
    <operation name="edit">
      <input wsam:Action="http://EventService/EventService/editRequest" message="tns:edit"/>
      <output wsam:Action="http://EventService/EventService/editResponse" message="tns:editResponse"/>
    </operation>
    <operation name="getDetail">
      <input wsam:Action="http://EventService/EventService/getDetailRequest" message="tns:getDetail"/>
      <output wsam:Action="http://EventService/EventService/getDetailResponse" message="tns:getDetailResponse"/>
    </operation>
  </portType>
  <binding name="EventServicePortBinding" type="tns:EventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="get">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="create">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="edit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EventService">
    <port name="EventServicePort" binding="tns:EventServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

