wsdl/EventService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions targetNamespace="http://EventService/" name="EventService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://EventService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://EventService/" schemaLocation="EventService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="deleteEvent">
    <part name="parameters" element="tns:deleteEvent"/>
  </message>
  <message name="deleteEventResponse">
    <part name="parameters" element="tns:deleteEventResponse"/>
  </message>
  <message name="getEventDetail">
    <part name="parameters" element="tns:getEventDetail"/>
  </message>
  <message name="getEventDetailResponse">
    <part name="parameters" element="tns:getEventDetailResponse"/>
  </message>
  <message name="editEvent">
    <part name="parameters" element="tns:editEvent"/>
  </message>
  <message name="editEventResponse">
    <part name="parameters" element="tns:editEventResponse"/>
  </message>
  <message name="ParseException">
    <part name="fault" element="tns:ParseException"/>
  </message>
  <message name="createEvent">
    <part name="parameters" element="tns:createEvent"/>
  </message>
  <message name="createEventResponse">
    <part name="parameters" element="tns:createEventResponse"/>
  </message>
  <message name="getEvents">
    <part name="parameters" element="tns:getEvents"/>
  </message>
  <message name="getEventsResponse">
    <part name="parameters" element="tns:getEventsResponse"/>
  </message>
  <portType name="EventService">
    <operation name="deleteEvent">
      <input wsam:Action="http://EventService/EventService/deleteEventRequest" message="tns:deleteEvent"/>
      <output wsam:Action="http://EventService/EventService/deleteEventResponse" message="tns:deleteEventResponse"/>
    </operation>
    <operation name="getEventDetail">
      <input wsam:Action="http://EventService/EventService/getEventDetailRequest" message="tns:getEventDetail"/>
      <output wsam:Action="http://EventService/EventService/getEventDetailResponse" message="tns:getEventDetailResponse"/>
    </operation>
    <operation name="editEvent">
      <input wsam:Action="http://EventService/EventService/editEventRequest" message="tns:editEvent"/>
      <output wsam:Action="http://EventService/EventService/editEventResponse" message="tns:editEventResponse"/>
      <fault message="tns:ParseException" name="ParseException" wsam:Action="http://EventService/EventService/editEvent/Fault/ParseException"/>
    </operation>
    <operation name="createEvent">
      <input wsam:Action="http://EventService/EventService/createEventRequest" message="tns:createEvent"/>
      <output wsam:Action="http://EventService/EventService/createEventResponse" message="tns:createEventResponse"/>
      <fault message="tns:ParseException" name="ParseException" wsam:Action="http://EventService/EventService/createEvent/Fault/ParseException"/>
    </operation>
    <operation name="getEvents">
      <input wsam:Action="http://EventService/EventService/getEventsRequest" message="tns:getEvents"/>
      <output wsam:Action="http://EventService/EventService/getEventsResponse" message="tns:getEventsResponse"/>
    </operation>
  </portType>
  <binding name="EventServicePortBinding" type="tns:EventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEventDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ParseException">
        <soap:fault name="ParseException" use="literal"/>
      </fault>
    </operation>
    <operation name="createEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ParseException">
        <soap:fault name="ParseException" use="literal"/>
      </fault>
    </operation>
    <operation name="getEvents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EventService">
    <port name="EventServicePort" binding="tns:EventServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

