wsdl/TicketService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions targetNamespace="http://TicketService/" name="TicketService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://TicketService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://TicketService/" schemaLocation="TicketService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getTicketsByUserID">
    <part name="parameters" element="tns:getTicketsByUserID"/>
  </message>
  <message name="getTicketsByUserIDResponse">
    <part name="parameters" element="tns:getTicketsByUserIDResponse"/>
  </message>
  <message name="createTicket">
    <part name="parameters" element="tns:createTicket"/>
  </message>
  <message name="createTicketResponse">
    <part name="parameters" element="tns:createTicketResponse"/>
  </message>
  <message name="updateTicket">
    <part name="parameters" element="tns:updateTicket"/>
  </message>
  <message name="updateTicketResponse">
    <part name="parameters" element="tns:updateTicketResponse"/>
  </message>
  <message name="getTicketsByEventID">
    <part name="parameters" element="tns:getTicketsByEventID"/>
  </message>
  <message name="getTicketsByEventIDResponse">
    <part name="parameters" element="tns:getTicketsByEventIDResponse"/>
  </message>
  <message name="cancelTicket">
    <part name="parameters" element="tns:cancelTicket"/>
  </message>
  <message name="cancelTicketResponse">
    <part name="parameters" element="tns:cancelTicketResponse"/>
  </message>
  <message name="createEventTicket">
    <part name="parameters" element="tns:createEventTicket"/>
  </message>
  <message name="createEventTicketResponse">
    <part name="parameters" element="tns:createEventTicketResponse"/>
  </message>
  <message name="decreaseLeftEventTicket">
    <part name="parameters" element="tns:decreaseLeftEventTicket"/>
  </message>
  <message name="decreaseLeftEventTicketResponse">
    <part name="parameters" element="tns:decreaseLeftEventTicketResponse"/>
  </message>
  <message name="updateEventTicket">
    <part name="parameters" element="tns:updateEventTicket"/>
  </message>
  <message name="updateEventTicketResponse">
    <part name="parameters" element="tns:updateEventTicketResponse"/>
  </message>
  <portType name="TicketService">
    <operation name="getTicketsByUserID">
      <input wsam:Action="http://TicketService/TicketService/getTicketsByUserIDRequest" message="tns:getTicketsByUserID"/>
      <output wsam:Action="http://TicketService/TicketService/getTicketsByUserIDResponse" message="tns:getTicketsByUserIDResponse"/>
    </operation>
    <operation name="createTicket">
      <input wsam:Action="http://TicketService/TicketService/createTicketRequest" message="tns:createTicket"/>
      <output wsam:Action="http://TicketService/TicketService/createTicketResponse" message="tns:createTicketResponse"/>
    </operation>
    <operation name="updateTicket">
      <input wsam:Action="http://TicketService/TicketService/updateTicketRequest" message="tns:updateTicket"/>
      <output wsam:Action="http://TicketService/TicketService/updateTicketResponse" message="tns:updateTicketResponse"/>
    </operation>
    <operation name="getTicketsByEventID">
      <input wsam:Action="http://TicketService/TicketService/getTicketsByEventIDRequest" message="tns:getTicketsByEventID"/>
      <output wsam:Action="http://TicketService/TicketService/getTicketsByEventIDResponse" message="tns:getTicketsByEventIDResponse"/>
    </operation>
    <operation name="cancelTicket">
      <input wsam:Action="http://TicketService/TicketService/cancelTicketRequest" message="tns:cancelTicket"/>
      <output wsam:Action="http://TicketService/TicketService/cancelTicketResponse" message="tns:cancelTicketResponse"/>
    </operation>
    <operation name="createEventTicket">
      <input wsam:Action="http://TicketService/TicketService/createEventTicketRequest" message="tns:createEventTicket"/>
      <output wsam:Action="http://TicketService/TicketService/createEventTicketResponse" message="tns:createEventTicketResponse"/>
    </operation>
    <operation name="decreaseLeftEventTicket">
      <input wsam:Action="http://TicketService/TicketService/decreaseLeftEventTicketRequest" message="tns:decreaseLeftEventTicket"/>
      <output wsam:Action="http://TicketService/TicketService/decreaseLeftEventTicketResponse" message="tns:decreaseLeftEventTicketResponse"/>
    </operation>
    <operation name="updateEventTicket">
      <input wsam:Action="http://TicketService/TicketService/updateEventTicketRequest" message="tns:updateEventTicket"/>
      <output wsam:Action="http://TicketService/TicketService/updateEventTicketResponse" message="tns:updateEventTicketResponse"/>
    </operation>
  </portType>
  <binding name="TicketServicePortBinding" type="tns:TicketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getTicketsByUserID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTicketsByEventID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createEventTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="decreaseLeftEventTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateEventTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TicketService">
    <port name="TicketServicePort" binding="tns:TicketServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

