wsdl/TransactionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions targetNamespace="http://TransactionService/" name="TransactionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://TransactionService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://TransactionService/" schemaLocation="TransactionService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="refundTicket">
    <part name="parameters" element="tns:refundTicket"/>
  </message>
  <message name="refundTicketResponse">
    <part name="parameters" element="tns:refundTicketResponse"/>
  </message>
  <message name="payWithPaypal">
    <part name="parameters" element="tns:payWithPaypal"/>
  </message>
  <message name="payWithPaypalResponse">
    <part name="parameters" element="tns:payWithPaypalResponse"/>
  </message>
  <message name="payWithCreditCard">
    <part name="parameters" element="tns:payWithCreditCard"/>
  </message>
  <message name="payWithCreditCardResponse">
    <part name="parameters" element="tns:payWithCreditCardResponse"/>
  </message>
  <message name="transactionData"/>
  <message name="transactionDataResponse"/>
  <portType name="TransactionService">
    <operation name="refundTicket">
      <input wsam:Action="http://TransactionService/TransactionService/refundTicketRequest" message="tns:refundTicket"/>
      <output wsam:Action="http://TransactionService/TransactionService/refundTicketResponse" message="tns:refundTicketResponse"/>
    </operation>
    <operation name="payWithPaypal">
      <input wsam:Action="http://TransactionService/TransactionService/payWithPaypalRequest" message="tns:payWithPaypal"/>
      <output wsam:Action="http://TransactionService/TransactionService/payWithPaypalResponse" message="tns:payWithPaypalResponse"/>
    </operation>
    <operation name="payWithCreditCard">
      <input wsam:Action="http://TransactionService/TransactionService/payWithCreditCardRequest" message="tns:payWithCreditCard"/>
      <output wsam:Action="http://TransactionService/TransactionService/payWithCreditCardResponse" message="tns:payWithCreditCardResponse"/>
    </operation>
    <operation name="transactionData">
      <input message="tns:transactionData"/>
      <output message="tns:transactionDataResponse"/>
    </operation>
  </portType>
  <binding name="TransactionServicePortBinding" type="tns:TransactionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="refundTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="payWithPaypal">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="payWithCreditCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transactionData">
      <input/>
      <output/>
    </operation>
  </binding>
  <service name="TransactionService">
    <port name="TransactionServicePort" binding="tns:TransactionServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

